

.login-page {
    
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
  .login-form {
    background-color: black;
    padding: 2rem;
    border-radius: 1rem;
  }
  
  .form-control {
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    background-color:pink;
  }
  .submit-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .error-message {
    color: red;
    font-size: 0.8rem;
    margin-top: 0.5rem;
  }
  .logo img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .logo h1{
    font-size: 2rem;
    margin: 1rem;
    color:black;
  }
  h1{
     text-align: center;

  }
  